<%- include('partials/header') -%>


<div class="md:h-screen  bg-[url('../../imgs/solar_house.jpg')]  bg-center bg-cover">

  
  <div class=" bg-gray-500 bg-opacity-60 h-screen max-w-screen-lg px-4 md:px-8 mx-auto">

    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <h1 class=" underline pt-4 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8 hover:text-orange-500"><a href="/profile">Solar System Tracker</a></h1>
      
    </div>
   

    <div>

    
    <div class="grid md:grid-cols-2 gap-8  md:mt-32  ">
      <!-- images - start -->
      <div class="space-y-4">
        <div class="bg-gray-100 rounded-lg overflow-hidden relative">
          <img src="<%= post.image%>" loading="lazy" alt="Photo by Himanshu Dewangan" class="w-full h-full object-cover object-center" />

          
        </div>
      </div>
      <!-- images - end -->

      <!-- content - start -->
      <div class="flex flex-col ">
        
        <div class="mb-2 md:mb-3 text-center">
          
          <h2 class="text-blue-600 text-2xl lg:text-3xl font-bold "><%= post.title %></h2>
        </div>
       

    
        <div class=" md:mt-16 lg:mt-10 bg-gray-100 p-4 rounded-md text-black">
          <div class=" text-blue-600 text-lg font-semibold ">Notes:</div>
          <p class=""> <%= post.notes %> </p>
          <p class ="text-blue-600 text-lg font-semibold mt-10">Phase: <%= post.phase %></p>
          <p class ="text-blue-600 text-lg font-semibold">Lot #: <%= post.lot %></p>
          
        </div>

      
        

        
        <div class="flex gap-2.5  justify-center md:justify-between md:mt-auto mt-10">
         
         
        
          <%if(post.user == user.id){ %>
            <form
              action="/post/deletePost/<%= post.id %>?_method=DELETE"
              method="POST"
              class="col-3"
            >
              <button class="inline-block flex-1 sm:flex-none bg-solar hover:bg-orange-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" type="submit">Delete</button>
            </form>
            <%}%>
         

          <div> 
          <a href="/feed" class="inline-block flex-1 sm:flex-none bg-sky-500 hover:bg-sky-600 active:bg-sky-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Return to all post</a>
        </div>
          
        </div>
    
      
      </div>
    
    </div>

    
  </div>


</div>




<%- include('partials/footer') -%>
