<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>House Completed</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <label for="title" class="form-label">System</label>
                <select class="form-select" aria-label="Default select example" id="title" name="title">
                  <option selected>Please Select a System</option>
                  <option value="Solar Edge">Solar Edge</option>
                  <option value="End Phase">End Phase</option>
                  <option value="Tesla">Tesla</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="phase" class="form-label">Phase</label>
                <select class="form-select" aria-label="Default select example" id="phase" name="phase">
                  <option selected>Please Select a Phase</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="lot" class="form-label">Lot</label>
                <select class="form-select" aria-label="Default select example" id="lot" name="lot">
                  <option selected>Please Select a Lot</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="notes" class="form-label">Notes</label>
                <textarea class="form-control" id="notes" name="notes"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">All Post</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>